body{
  background-color: #080D42;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

#content {
  margin: 0 auto;
  /* width: 800px; */
  }

h1 {
  color: black;
  margin-right: 0px;
  padding-top: 50px;
  padding-left: 100px;
  font-size: 2em;
  font-weight: lighter;
  width: 50%;

}

.credit {
  color: green;
  font-family: monospace;
  margin: 0;
  padding-top: 30px;
}

#footer {
  /* border: 1px solid #999; */
  background-color: #04061F;
  height: 300px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

/*  navbar + burger
-----------------------------------------------*/

#navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 0 10%;
    /* schatten*/
    opacity: 0.9;
}

.shadow{
  transition: 1s;
  -webkit-box-shadow: 0px 12px 14px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 12px 14px -6px rgba(0,0,0,0.75);
box-shadow: 0px 12px 14px -6px rgba(0,0,0,0.75);
}

#navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    text-transform: uppercase;
    }

#navbar a:hover {
    background: #ddd;
    color: black;
}

#navbar a.logo {
    padding: 0;
}

#menu-items {
    float: right;
    with: 70%;
}

#logo-nav {
  width: 70px;
  float: left;
}

#checkWebsite{
    color: white !important;
    background-color: #17a2b8;
    font-weight: 500;
}



/*  section1 / landing page
-----------------------------------------------*/
#section1{
  height: 100vh;
}

#landing1{
  height: 50vh;
  /* background-image: url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a7430d7bd5676bc7b81f2b8bf8f6a75&auto=format&fit=crop&w=1602&q=80); */
  background-image: url(https://images.unsplash.com/photo-1483959651481-dc75b89291f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc56016233ca58bf18a280a5dca0abe7&auto=format&fit=crop&w=1801&q=80);
  background-position: center;
  background-attachment: fixed;
  }


#landing2{
  height: 50vh;
  background-color: white;
  -webkit-box-shadow: 0px -2px 18px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 18px 1px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 18px 1px rgba(0,0,0,0.75);
}

#callToAction{
  padding-top: 230px;
  text-align: center;
  width: 800px;
  margin: 0 auto;

}

#input-email {
  float: left;
}

.btn-newsletter {
  margin-top: 30px;
}

.form-group{
  width: 300px;
  margin: 0 auto;
}


#section2{
  height: 100vh;
  background-color: #D9D9D9;
}
